body{background:linear-gradient(to bottom, #004b6e 0%, #00628e 100%);background-color:#f0f0f0;background-repeat:repeat-x;}
.page-footer{background-color:transparent;}
.navigation{background-color:#f0f0f0;}
.navigation .level0.active, .navigation .level0.has-active{background:linear-gradient(to bottom, #005076 0%, #f0f0f0 100%);background-color:#500082;}
.header.content{background-color:#FFFFFF;}
.page-main{background:#f0f0f0;}
.page-footer .footer.content .switcher-store{background-color:#4f008c;}
.page-main .main .block-title, .page-bottom .block-title strong{color:#410699;}
.page-title .base{color:#480699;}
.product-item .product-item-name a{color:#9968de;}
.page-footer .informational > ul > li h4{color:#dfd6e8;}
